@media screen and (min-width: 981px){
.ninecol {}
.threecol {}
}

@media screen and (min-width:768px) and (max-width: 980px){
.ninecol {}
.threecol {}
}

@media screen and (min-width:481px) and (max-width: 767px){
.ninecol { width:100% !important;}
.threecol {width: 100% !important;margin: 0px !important;clear: both !important;float: left !important; }
.uc-widget-student-voices-wrapper {padding:0px !important}
.content-wrap.home-content-wrap.subsites.ninecol.last {padding-left:0px;}
}

@media screen and (max-width: 480px){
.ninecol {}
.threecol {width: 100% !important;clear: both !important;float: left !important;}
.uc-widget-student-voices-wrapper {    padding: 0px !important;}
}
/* ////////////   ALL TIME */
.page-content-html .content { max-width: 980px !important; width:100% !important; }


@media screen and  (min-width: 981px){
.hidden-xl {display: none; }
}

@media screen and  (max-width: 980px){

.ninecol {}
.threecol {}
.hidden-lg {display:none;}
}

@media screen and (max-width: 767px){

.ninecol {}
.threecol { }
.uc-widget-student-voices-wrapper {}
.hidden-md {display:none;}
}

@media screen and (max-width: 480px){
.ninecol {}
.threecol {}
.uc-widget-student-voices-wrapper {}
.hidden-sm {display:none; }
}

@media screen and (min-width: 481px){
   // .row {margin:0px 4% 0px 4% !important;}
}